.header
{
    float: left;
    margin: 20px;
    width 100%;
    background-color: #fff;
}
.user
{
    color: #262626;
    text-align: right;
    padding: 10px;
    float: right;
    height: 15px;
    cursor: pointer;
}
.game
{
    float: left;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width 160px;
    text-align: center;
    background-color: #fff;
}
.link
{
    width: 140px;
    padding: 10px;
    height: 80px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon
{
    width: 160px;
}
.check
{
    color: #262626;
    text-align: right;
    padding: 10px;
    float: right;
    height: 15px;
    cursor: pointer;
}
.platform
{
    color: #262626;
    text-align: right;
    padding: 10px;
    float: right;
    height: 15px;
    cursor: pointer;
}
.progress
{
    color: #262626;
    text-align: right;
    padding: 10px;
    float: right;
    height: 15px;
}
.invisible
{
    color: #fff;
    cursor: default;
}
.disabled
{
    color: #cccccc;
}
.hidden
{
    display: none;
}
.search
{
    color: #262626;
    text-align: left;
    padding: 10px;
    float: left;
    height: 15px;
}
/*i
{
    color: #262626;
}
span
{
    color: #262626;
}*/
a
{
    color: #262626;
    text-decoration: none;
}
body
{
    background-color: #ccc;
}
